@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    transition: all .2s linear;  
}

.header{
    width: 100%;
    top: 0;left: 0;right: 0;
    z-index:1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 9%;
    border-bottom: 3px solid black;   
}
.logo{
    height: 80px;
    width: 150px;
}

.navbar ul li{
    display: inline-block;
}

.navbar ul li a{
    position: relative;
    font-size: 18px;
    color: black;
    text-decoration:none;
    font-weight: 400;
    margin-left: 40px;
    display: inline-block;
}

.navbar ::before{
    content: '';
    position: absolute;
    top: 100%;left: 0;
    width:0;
    height: 2px;
    background: black;
    transition: .3s;
}

.navbar a:hover:before{
    width: 100%;
}

.navbar ul .submenu{
    position: absolute;
    width: 200px;
    box-shadow: 0 20px 100px black;
    margin-top: -50px;
    opacity: 0;
    z-index: -999;
    transition: all ease .2s;
}

.navbar ul li:hover .submenu{
    z-index: 999;
    opacity: 1;
    margin-top: 0;
    background-color: white;
}


.navbar hr{
    visibility: hidden;
}

.button button{
    width: 120px;height: 30px;
    border-radius: 20px;
    border: none;outline: none;
    cursor: pointer;
    font-weight: 700;
    background-color: #adb0b2;
}

.button button:hover{
    background-image: linear-gradient(0deg, rgb(62, 167, 209) 0%, rgb(12, 198, 201) 100%);;

}

.hdr {
  text-align: center;
  padding: 50px;
  background-color: #fff;
  width: 100%;
top: 0;left: 0;right: 0;
z-index:1;
display: flex;
justify-content: space-between;
align-items: center;
border-bottom: 3px solid black;  
}
.hdr img {
  max-width: 100%;
}

.hdr-subtitle {
  font-size: 30px;
  font-weight: bold;
}
span{
  color: #f36805;
}


.about{
  margin-bottom: 10px;
  text-align: center;
  size: 100px;
}
.about p{
  text-align: center;
  font-weight: 500;
  font-size: larger;
}


.row {
  margin: -20px 0;
  .col {
     padding: 0 20px;
     float: left;
     box-sizing: border-box;
     &.x-50 {
        width: 50%;
     }
     &.x-100 {
        width: 100%;
     }
  }
}

.content-wrapper {
  min-height: 100%;
  position: relative;
  margin-top: 80px;
}

.get-in-touch {
  max-width: 650px;
  margin: 0 20px;
  position: relative;
  top: 60px;
  transform: translateY(-50%);
}
 .title {
    text-align: center;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 36px;
    line-height: 48px;
    padding-bottom: 48px;
 }


.contact-form {
  .form-field {
     position: relative;
     margin: 32px 0;
     margin-top: 40px;
  }
  .input-text {
     display: block;
     width: 100%;
     height: 36px;
     border-width: 0 0 2px 0;
     border-color: #000;
     font-family: Lusitana, serif;
     font-size: 18px;
     line-height: 26px;
     font-weight: 400;
     

  }
  .label {
     position: absolute;
     left: 20px;
     bottom: 11px;
     font-family: Lusitana, serif;
     font-size: 18px;
     line-height: 26px;
     font-weight: 400;
     color: #888;
     cursor: text;
     transition: transform .2s ease-in-out;
  }
  
  .submit-btn {
     display: inline-block;
     background-color: #000;
     color: #fff;
     font-family: Raleway, sans-serif;
     text-transform: uppercase;
     letter-spacing: 2px;
     font-size: 16px;
     line-height: 24px;
     padding: 8px 16px;
     border: none;
     cursor: pointer;
  }
}

.note {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-family: Lusitana, serif;
  font-size: 16px;
  line-height: 21px;
  
  .link {
     color: #888;
     text-decoration: none;
     &:hover {
        text-decoration: underline;
     }
  }
}




:root {
  --m: 4rem;
}
h2 {
  font-weight: 500;
  text-align: center;
  font-size: var(--m);
  margin: 0;
}

h3 {
  font-weight: 500;
  font-size: calc(0.6 * var(--m));
  margin: 0;
}



footer {
  margin-top: 2vh;
  z-index: 500;
  width: 100%;
  height: 500px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  padding: 5rem 2vw;
  position: relative;
}

footer::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(
    rgba(0, 0, 0, 0) 5%,
    rgba(0, 0, 0, 0.3) 20%,
    rgba(0, 0, 0, 0.6) 30%,
    rgba(0, 0, 0, 0.8) 40%,
    rgba(0, 0, 0, 1) 50%,
    rgb(0, 0, 0)
  );
  z-index: -7;
  
}

.backdrop {
  z-index: -5;
  position: absolute;
  inset: 0;
}

.col {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: calc(0.3 * var(--m)) calc(0.8 * var(--m));
  width: 28%;
}

.col2, .col3 {
  background-color: #121212;
  border-radius: calc(0.5 * var(--m))
}

 ul li{
  display: inline-block;
}

ul li a{
  position: relative;
  font-size: 18px;
  color:white;
  text-decoration:none;
  font-weight: 400;
  margin-left: 40px;
  display: inline-block;
}

a::before{
  content: '';
  position: absolute;
  top: 100%;left: 0;
  width:0;
  height: 2px;
  background: white;
  transition: .3s;
}

a:hover:before{
  width: 100%;
}
.social {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
  
}

.link {
  width: calc(0.8 * var(--m));
  height: calc(0.8 * var(--m));
  background-color: rgba(255,255,255,0.1);
  border-radius: calc(0.1 * var(--m));
  
  display: flex;
  justify-content: center;
  align-items: center;
}


@media screen and (max-width: 1000px) {
  :root {
    --m: 3rem;
  }
}


@media screen and (max-width: 700px) {
  footer {
    flex-direction: column;
    padding: 5rem 20vw;
  }
  .col {
    width: 100%;
  }
}
