@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    transition: all .2s linear;  
}
body{
    min-height: 100vh;
    background: url(main\ pic.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.header{
    width: 100%;
    position: fixed;
    top: 0;left: 0;right: 0;
    z-index:100;;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 9%;  
}
.logo{
   
    height: 80px;
    width: 150px;
    color: white;
}

.navbar ul li{
    display: inline-block;
}

.navbar ul li a{
    position: relative;
    font-size: 18px;
    color: white;
    text-decoration:none;
    font-weight: 400;
    margin-left: 40px;
    display: inline-block;
    word-spacing: 2%;

    
}

.navbar ::before{
    content: '';
    position: absolute;
    top: 100%;left: 0;
    width:0;
    height: 2px;
    background: white;
    transition: .3s;
}

.navbar a:hover:before{
    width: 100%;
}

.navbar ul .submenu{
    position: absolute;
    width: 200px;

    margin-top: -50px;
    opacity: 0;
    z-index: -999;
    transition: all ease .2s;
}

.navbar ul li:hover .submenu{
    z-index: 99;
    opacity: 1;
    margin-top: 0;
}

.navbar hr{
    visibility: hidden;
}


.button button{
    width: 120px;height: 30px;
    border-radius: 20px;
    border: none;outline: none;
    cursor: pointer;
    font-weight: 700;
    background-color: #adb0b2;
}

.button button:hover{
    background-image: linear-gradient(0deg, rgb(62, 167, 209) 0%, rgb(12, 198, 201) 100%);
}

.home{
    max-width: 1300px;
    margin: auto;
    width: 100%;
    min-height: px;
}

.hometext{
    padding-top: 480px;
    padding-left: 80px;
    color:aliceblue;
}

.hometext h3{
    font-size: 2.4rem;
}

.hometext span{
    color:aqua
}


.btn{
    background-color:black;
    border: none;
    color:aqua;
    cursor: pointer;
    display: inline-block;
    font-family: 'BenchNine', Arial, sans-serif;
    font-size: 1em;
    font-size: 22px;
    line-height: 1em;
    margin: 15px 40px;
    outline: none;
    padding: 12px 40px 10px;
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .btn:before,
  .btn:after {
    border-color: transparent;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    border-style: solid;
    border-width: 0;
    content: "";
    height: 24px;
    position: absolute;
    width: 24px;
  }
  
  .btn:before {
    border-color:aqua;
    border-top-width: 2px;
    left: 0px;
    top: -5px;
  }
  
  .btn:after {
    border-bottom-width: 2px;
    border-color:aqua;
    bottom: -5px;
    right: 0px;
  }
  
  .btn:hover,
  .btn.hover {
    background-color: aqua;
    color: black;
  }
  
  .btn:hover:before,
  .btn.hover:before,
  .btn:hover:after,
  .btn.hover:after {
    height: 100%;
    width: 100%;
  }



